@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/navigation-bar.css");

body {
	font-family: 'Lora', serif;
	margin: 0px;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}
